html,body{
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}
nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
}
.logo img{
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
    
}
  nav ul{
    float: left;
    margin-left: 500px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
  }
/*nav{
    width: 100%;
    overflow:auto;
    background-color: rgb(23, 19, 47);
    padding: 30px 30px;
}
nav ul{
    padding: 0;
    margin: 0 0 0 500px;
    margin-right: 20px;
    list-style: none;
}
nav ul li{
    display: inline-block;
   
    float: right;

}
nav ul li a{
    width: 100px;
    display: block;
    padding: 30px 0px;
    text-decoration: none;
    font-family: Arial;
    color: white;
    text-align: right;
    font-size: 20px;
    border-radius: 3px;
}
.active, li a:hover{
    background-color: gray;
    text-transform: uppercase;
    box-sizing: 0px;
    padding-block-end: 0%;
}*/

.image img{
    display: block;
    width: 900px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
h1{
    color: black;
    text-align: center;
    font-family: Algerian;
    font-size: 40px;
    text-shadow: 2px 2px 4px #000000;
}
.content {
    max-width: 900px;
    margin: auto;
    padding: 10px;
}
.content p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
}
.wrapper {
    text-align: center;
}
#button-continue{
    color: rgb(199, 197, 197);
    background-color: green;
    cursor: pointer;
    align-items: center;
   
    border-radius: 10px;
    padding: 10px 15px;
}